.champions_page {
  background-color: gainsboro;
}
.champions_map {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.champions_map_icon .champ_icon {
  padding: 20px;
  width: 100px;
  border-radius: 0%;
}
