.home_page {
  background-color: gainsboro;
  min-height: 100vh;
}

.home_search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
.home_search_bar {
  width: 50vw;
  min-width: 400px;
}
